/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #000000;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Nunito', sans-serif;
    font-size: 150%;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
       overflow: auto;
    padding-bottom: 2rem ;

}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

header{
    display: flex;
    width:100%;
    text-align: center;
    justify-content: center;

}

#stickyHeader {
    background-color:  #7B241C;
    box-shadow: 0rem 0.2rem 0 0 rgba(0, 0, 0, 0.28);
    justify-content: space-between;
    overflow: hidden;
    top:0;
    position:fixed;
    align-items: center;
}

#stickyHeader img{
    cursor: pointer;
    height:4.5rem;
    margin: 0 1rem;

}

#stickyHeader a{
    text-decoration: none;
}

#indexMain {
    margin-top: 5.8rem;
     flex-direction: column;
         align-items: center;
}

body h1{
    font-size: 4rem;
    color: #FFF0D6;
    margin:0;
    cursor: pointer;
}

.profileimg{
    border-radius: 50%;
    width:75px;
    height: 75px;
}

/*
index
*/
.indexbody{
    height: 100%;
    display: flex;

    justify-content: center;

      align-items: center;


}
.indexheader{
    width:100%;
    text-align: center;
}
.indexheader a{
    text-decoration: none;
    font-size: 4rem;
    color: #FFF0D6;
    margin:0;
    cursor: pointer;
}

.indexmain {
    border-radius: 39.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    width: 60%;

}
aside {
    max-width: 10%;

}


.tumma{
    background-color: #9E3E25;
}


.vaalea {
    background-color: #FFF0D6;
}

.oranssi {
    background-color:#F0A830;
}

#registerForm{
    padding:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#register{
    display: none;
    padding:0;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#register .indexbtn{
    margin-top: 2rem;
}


#loginForm {
    padding:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

#loginRegister{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
}

#loginRegister a {
    text-align: center;
}

.editProfileLabel{

    padding:0;
}

.editProfileLabel > .editProfileInput{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */

}
.editProfileLabel > .editProfileInput + .editProfileImg{ /* IMAGE STYLES */
    border-radius: 9px;
    cursor:pointer;
    border: 2px solid transparent;
    width: 75px;
    height: 75px;
    margin: 0.4rem;
   
}
.editProfileLabel > .editProfileInput:checked + .editProfileImg{ /* (RADIO CHECKED) IMAGE STYLES */
    border:3px solid #5b1519;
}

button a{
    text-decoration: none;
    color: inherit;
}

 .btn {
    text-align: center;
    vertical-align: middle;
    line-height: 3.5rem;
    width: 3.5rem;
    height:3.5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #562006;
    background: #FFF0D6;
    border: solid #F0A830 4px;
    transition: background-color 0.33s;
}

 .btn:hover {
    background: #F0A830;
}

.adminBtn{
    border-radius: 5px;
    font-family: Georgia;
    color: #000dff;
    font-size: 29px;
    background: #ffea00;
    padding: 10px 20px 10px 20px;
    border: solid #ff0000 5px;
    text-decoration: none;
}

.adminBtn:hover {
    background: #ff0000;
    text-decoration: none;
    border: solid #fffc00 5px;
}



.commentTextarea{
    border-radius: 9px;
    border: 0px solid rgba(12, 49, 66, 0.54);
    box-shadow: 0.15rem 0.15rem 0 0 rgba(99, 32, 0, 0.41);
    height:4rem;
    width: calc(100% - 105px);
    display: flex;
}

.commentForm input[type=text]{
    padding: 0 0.7rem;
}

ul {
    width: inherit;
    margin:0;
    padding: 0;
    list-style: none;
}

.comments{
    padding: 0;
    list-style: none;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;

}

.comment {
    box-shadow: 0.15rem 0.15rem 0 0 rgba(99, 32, 0, 0.41);
    border-radius: 39.5px;
    border: 4px solid transparent;
    margin: 1rem;
    width: 60%;
}


.commentForm {
    margin-top: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 60%;
}

.commentForm .sendCommentBtn{
    margin-left: 1rem;
}


.sendCommentBtn {
    text-align: center;
    height: 4rem;
    border-radius: 9px;
    border-style: none;
    box-shadow: 0.15rem 0.15rem 0 0 rgba(99, 32, 0, 0.41);
    color: #FFF0D6;
    width: 105px;

}

#profile .sendCommentBtn{
    width: auto;
    font-size: 125%;
    margin: 1.5rem;
}

.commentHeader{


}

.comments li img{

    border: 4px solid #FFF0D6;
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.comments p{

    margin:0;
    padding: 5px 15px;

}

.postsBox {
    margin: 0;
}

.posts {
    margin-top: 1.25rem;
    height: auto;
    border-radius: 43.5px;
    border: 4px solid #f0a830;
    box-shadow: 0.3rem 0.3rem 0 0 rgba(70, 11, 0, 0.38);
    -webkit-transition: height 0.33s;
    -moz-transition: height 0.33s;
    -ms-transition: height 0.33s;
    -o-transition: height 0.33s;
    transition: height 0.33s;

}

.posts a img {
    width:5rem;
    height: 5rem;
    cursor: pointer;
}

.emoji{
    box-shadow: 0.15rem 0.15rem 0 0 rgba(99, 32, 0, 0.41);
    font-size: 4rem;
    display: inline-block;
    width: 5.5rem;
    height: 5.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 6.5rem;
    border-radius: 15%;
    margin: 1rem;


}

.postHeader img {
    border: 4px solid #F0A830;
}

.postFooter {
    padding: 0;
    display: flex;
    justify-content: center;
    line-height: 1rem;
    vertical-align: middle;

}

.postFooter h2 {
    margin: 1rem 0;
    padding: 0.15rem;
    font-size: 2rem;
    cursor: pointer;

    -webkit-transition: all 0.33s;
    -moz-transition: all 0.33s;
    -ms-transition: all 0.33s;
    -o-transition: all 0.33s;
    transition: all 0.33s;
}

.postFooter h3 {
    margin: 1rem 0;
    padding: 0.15rem;
    font-size: 1.5rem;
    cursor: pointer;

    -webkit-transition: all 0.33s;
    -moz-transition: all 0.33s;
    -ms-transition: all 0.33s;
    -o-transition: all 0.33s;
    transition: all 0.33s;
}

.postFooter:hover > h2, .postFooter:hover > h3{
    padding: 0.15rem 0.22rem;
}

.fullPostModal {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modalHidden {
    height: 0;
    display: none;
}

.fullPostBox {
    border-radius: 39.5px;
}

.indexform {
    box-shadow: 0.15rem 0.15rem 0 0 rgba(70, 11, 0, 0.38);
    border-style: none;
    margin-top:2rem;
    border-radius: 9px;
    padding: 0.5rem 1rem;
}

.indexbtn{
    color: #9E3E25;   
    font-size: 85%;
    margin-bottom: 2rem;
    width: 48%;
    height: 3rem;
    text-align: center;
    border-radius: 9px;
}

.postHeader{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1.5rem;
}

.profileImgBox {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.dateBreak{
    text-align: center;
    margin-top: 1.3rem;
    margin-bottom: 0.5rem;
    padding: 0;
    color: #FFF0D6;
}

.postDate{
    display: none;
}

.postTime{
    text-align: right;
    height: inherit;
    margin-right: 2rem;
}


.playbtnBox{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.playbtn {
    cursor: pointer;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    width: 5rem;
    height: 5rem;
}

.pausebtn{
    cursor: pointer;
    border:0;
    display: none;
    flex-wrap: wrap;
    width: 5rem;
    height: 5rem;
}

.counter {
    margin: 0;
    display: flex;
}

.postMain{
    margin:0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly ;
    align-items: center;
}

.score {
    font-size: 2rem;
    margin:-1rem;
    padding: 0;
}

.emojiContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.postLike{
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    align-content: stretch;
}





.modal {
    overflow: auto;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.51); /* Black w/ opacity */


    animation-name: fadeIn;
    animation-duration: 0.4s;

    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s
}


/* Modal Content */
.modal-content {
    overflow: auto;
    position: absolute;
    padding: 20px;
    width: 60%;
    height: inherit;

    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;

    animation-name: slideIn;
    animation-duration: 0.4s
      
}

.profileModal{
    left: 0;
    height: 100%;
    box-shadow: 0.2rem 0 0 0 rgba(99, 32, 0, 0.41);
    flex-direction: column;
    align-items: center;
    overflow: auto;
    position: absolute;
    padding: 20px;
    width: 60%;


    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;

    animation-name: slideIn;
    animation-duration: 0.4s
 
}



#profileModalMain{
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    min-width: 34rem ;
}


#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 43.5px;
    width: 30rem;
    max-height: 1100px;
    padding: 1rem;
    margin: 3.5rem 3rem;
    box-shadow: 0.2rem 0.2rem 0 0 rgba(99, 32, 0, 0.41);
}

#showProfile{

      font-size: 125%;
     display: flex;                                      
     flex-direction: column;                             
     justify-content: center;                            
     align-items: center;                                
     border-radius: 43.5px;
     padding: 1rem;                                      
     margin: 3.5rem 3rem;
    width: 80%;
     box-shadow: 0.35rem 0.35rem 0 0 rgba(99, 32, 0, 0.41);

}

#showProfile .posts {
      box-shadow: 0.2rem 0.2rem 0 0 rgba(99, 32, 0, 0.41);
}

#showProfileInfo{
       display: flex;             
       flex-direction: column;    
       justify-content: center;   
       align-items: center;       
   
}

#showProfileInfo .profileimg{
    width: 9rem;                  
    height:9rem;                  
    border: 4px solid #9E3E25;    
    margin-top: 1rem;

}

#showProfileInfo p {
    margin-top: 1rem;
    margin-bottom: 0;
}


#showProfile .dateBreak {
    color:#9E3E25;
}

#profile p {
    font-size: 125%;
    margin: 0.5rem;
}
#profile h2{
    font-size: 200%;
}

#profile .profileimg {
    width: 9rem;
    height:9rem;
    border: 4px solid #9E3E25;
    margin-bottom: 1.5rem;
}
#profileScore{
    background:url(../icons/tahtipipari.svg);
    background-repeat: no-repeat;
    border: none;
    width:6.5rem;
    height:6.5rem;
    line-height: 7.29rem;
   
    text-align: center;
    vertical-align: middle;

}

.profileImages{
    margin: 1.5rem;

}

.searchForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: 5.5rem;

}

#searchBtn{
    background:url(../icons/hae.svg);
    background-repeat: no-repeat;
    border: none;
    width:4.5rem;
    height:4.5rem;
    display: flex;
    margin-left: 1rem;
}

#searchEmoji {
    margin:0;
    display: flex;
}

.searchForm ::placeholder {
    font-size: 50%;
    transform: translateY(-0.7rem) ;
}

.searchForm p{
    display: flex;
    margin-right: 3rem;
    font-size: 125%;
}

#searchAndProfile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#editProfile{
    display: none;
    align-items: center;
    flex-direction: column;
}
.editProfileInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.editProfileForm {
    display: flex;
    align-items: center;
    flex-direction: column;

}


#giveName{
    border-radius: 9px;                                        
    border: 0px solid rgba(12, 49, 66, 0.54);                  
    box-shadow: 0.15rem 0.15rem 0 0 rgba(99, 32, 0, 0.41);     
    height:4rem;                                                                               
    display: flex;
    padding: 0 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#profileModalFooter{
    display: flex;
        justify-content: center;
}

#logOutBtn{
    color: #9E3E25;
    width:10rem;
    margin-bottom: 2rem;
}


.makePostModal{
    height: 100%;
    box-shadow: -0.2rem 0 0 0 rgba(99, 32, 0, 0.41);
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    position: absolute;
    padding: 20px;
    width: 60%;


    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;

    animation-name: slideIn;
    animation-duration: 0.4s
}

.makePostModal label{
    justify-content: center;
    display: flex;
}

.makePostModal form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.makePostModal form h2 {
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 0;
    margin-bottom: 4rem;
    margin-top: 3rem;
    font-size: 200%;
}


.makePostModal img{
    box-shadow: 0.2rem 0.2rem 0 0 rgba(99, 32, 0, 0.41);
    width: 12rem;
    height:12rem;
    padding: 1rem;
    border-radius: 50%;
}

#makePost{
    top:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#emojiContainerMakepost{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.makePostSubmit{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 125%;
}

.sendPostBtn{
    text-align: center;
    background-color: black;
    height: 4rem;
    border-radius: 9px;
    border-style: none;
    box-shadow: 0.15rem 0.15rem 0 0 rgba(99, 32, 0, 0.41);
    color: #FFF0D6;
    padding: 0 1rem;
    width: 10rem;
}

/* The Close Button */
.closeModal {
    display: none;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}


.closeModal:hover,
.closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.uploadFile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.uploadFile + label{
    font-size: 500%;
}
.inputEmoji{
    box-shadow: 0.15rem 0.15rem 0 0 rgba(99, 32, 0, 0.41);
    border-radius: 15%;
    width: 6rem;
    height: 6rem;
    text-align: center;
    margin: 1rem;
    border-style: none;
    font-size: 4rem;
}

.inputEmoji ::value {
    line-height: 3.35rem;
    vertical-align: middle;
}



audio{
    display: none;
}



#star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: #f0a830;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #f0a830;
  border-left: 100px solid transparent;
  transform: rotate(36deg);
}
#star-five:before {
  border-bottom: 80px solid #f0a830;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
#star-five:after {
  position: absolute;
  display: block;
  color: #f0a830;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #f0a830;
  border-left: 100px solid transparent;
  transform: rotate(-72deg);
  content: '';
}









@keyframes slideIn {
    from {left: -60%;}
    to {left: 0;}
}
@keyframes slideOut {
    from {left: 0;}
    to {left: -70%;}
}


@keyframes slideInR {
    from {right: -60%;}
    to {right: 0;}
}
@keyframes slideOutR {
    from {right: 0;}
    to {right: -70%;}
}


@keyframes fadeIn {
    from {background-color: rgba(0,0,0, 0.00);}
    to {background-color: rgba(0,0,0, 0.51);}
}
@keyframes fadeOut {
    from {background-color: rgba(0,0,0, 0.51);}
    to {background-color: rgba(0,0,0, 0.00);}
}

::-webkit-scrollbar {
    display: none;
}



*:focus {
    outline: none;
}






::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0,0,0,0.20);
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0,0,0,0.20);
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgba(0,0,0,0.20);
}
:-moz-placeholder { /* Firefox 18- */
    color: rgba(0,0,0,0.20);
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 669px) {


    main {
        width: 80%;
    }

    aside {
        width: 10%;
    }

}


@media only screen and (max-width: 668px) {



    main {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    #profileModal {
        width: 80%;
    }

    #profileModalMain{
        min-width: auto;
    }
    #profile {
        padding:0 ;
        font-size: 70%;
        width: 100%;
        margin: 1.5rem 0;
    }

    #profile p{
        font-size: 1.5rem;
    }

    #profile h2{
        margin: 1rem auto 1rem auto;

    }

    .searchForm {
        margin-top: 0;
        margin-left: 3rem;
    }


    #searchEmoji{
        width: 4rem;
        height: 4rem;
        font-size: 3rem;
    }

    #searchBtn{
        margin-left: 0.5rem;
        width: 2rem;
        height: 2rem;
    }

    #makePostModal {
        width: 80%;
    }
    #makePost h2{
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    #showProfile{
        margin-top: 2rem;
        width: 95%;
        padding: 1rem 0;
    }


    #indexMain{
        margin-top: 4.4rem;
    }



    .postMain{
        justify-content:space-evenly;
        flex-wrap: wrap;

    }



    .postHeader{
        margin-bottom: 0;
    }

    .dateBreak{
        margin-top: 1.3rem;
    }


    .playbtnBox{
        order: 2;
    }

    .playbtnBox img{
        width: 3rem;
        height: 3rem;
    }

    .postLike a img {
        width: 3rem ;
        height: 3rem;
    }


    .emojiContainer{
        order: 1;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        width: 95%;
    }

    .emoji{
        width: 4rem;
        height: 4rem;
        margin: 0.5rem;
        font-size: 2.0rem;
        line-height: 3.1rem;
    }

    .postLike {
        order: 3;
    }


    .comment {
        margin: 0.5rem 0;
        width: 95%;
    }



    .commentForm{
        width: 95%;
    }

    header h1{
        font-size: 3rem;
    }

    header img{
        width: 3rem;
        height: 3rem;
    }



    @keyframes slideIn {
        from {left: -80%;}
        to {left: 0;}
    }
    @keyframes slideOut {
        from {left: 0;}
        to {left: -90%;}
    }


    @keyframes slideInR {
        from {right: -80%;}
        to {right: 0;}
    }
    @keyframes slideOutR {
        from {right: 0;}
        to {right: -90%;}
    }



}



@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}